.crypto-box {
  border-radius: 7px;
  border: 3px solid var(--color-primary-1);
  padding: 1rem 2rem;
}

.data-separator {
  border-bottom: 1.5px solid var(--color-primary-2);
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.color-green {
  &--light {
    color: var(--color-light);
    background-color: var(--color-success-1);
  }

  &--normal {
    color: var(--color-light);
    background-color: var(--color-success-2);
  }

  &--dark {
    color: var(--color-light);
    background-color: var(--color-success-3);
  }
}

.color-red {
  color: var(--color-light);
  background-color: var(--color-error-1);
}
