.input-wrapper {
    padding: 0.5rem;
    border: 1.5px solid var(--color-dark-2);
    border-radius: 4px;
    display: inline-block;
}

input  {
    height: 4rem;
    outline: none;
    border: none;
}
