
:root {
  --text-color: rgb(60, 64, 70);
  --text-color-light: rgb(140, 143, 150);
  --text-color-dark: rgb(32, 33, 36);

  --color-primary-1: #c4af62;
  --color-primary-transparent: #c4af62cf;

  --color-primary-3: #C4B88D;
  --color-primary-2: #e6d8a5;

  --color-secondary-1: #7fac15;
  --color-secondary-2: #89ab3a;
  --color-secondary-3: #db9121;
  --color-secondary-4: #89bd0f;

  --color-dark-1: hsl(27, 41%, 17%);
  --color-dark-2: hsl(27, 41%, 17%);
  --color-dark-3: hsl(0, 4%, 22%);
  --color-dark-4: hsl(0, 1%, 48%);

  --color-error-1: hsl(0, 83%, 56%);
  --color-error-2: hsl(0, 63%, 46%);
  --color-error-3: hsl(0, 79%, 65%);
  --color-error-see-through: hsla(0, 83%, 56%, 0.34);

  --color-light: rgb(252, 252, 252);
  --color-shadow: rgb(118, 126, 144);

  --color-success-1: hsl(85, 69%, 54%);
  --color-success-2: hsl(114, 69%, 54%);
  --color-success-3: hsl(111, 81%, 45%);
}

// @MEDIA
$xl: 100em; // 1600
$lg: 90em; // 1440
$mlg: 56.25em; // 900
$md: 48.5em; //776
$sm: 37.5em; // 600

.color {
  &--active {
    color: var(--color-secondary-1) !important;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

::selection {
  background-color: var(--color-secondary-2);
  color: var(--color-dark-3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: 37.5em) {
    font-size: 50%;
  }

  @media screen and (max-width: 68.75em) {
    font-size: 58%;
  }
}

@include Helpers($lg, $xl, $md, $sm, $mlg);
