@import "./shared/navigation/navbar.scss";

:root {
    --text-color: white;
    --text-color-light: white;
    --text-color-dark: white;

    --color-primary-1: red;
    --color-primary-2: red;
    --color-primary-3: red;
    --color-primary-4: red;

    --color-secondary-1: red;
    --color-secondary-2: red;
    --color-secondary-3: red;
    --color-secondary-4: red;

    --color-dark-1: black;
    --color-dark-2: black;
    --color-dark-3: black;
    --color-dark-4: black;

    --color-light: red;
    --color-shadow: red;
}

* {
    box-sizing: border-box;
    outline: none;
}
::selection {
    background-color: var(--color-secondary-2);
    color: var(--color-dark-3);
}
