.background {
  &--1 {
    background-image: url("../../shared/sass/images/background.jpg"); // /potential-3.jpg or the 6 or 7
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
  }

  &--light {
    background-color: #f8f7f7;
  }
}
